:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --ff-accent: 'Inter', sans-serif;
  --ff-base: 'Lexend Deca', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-base: 15px;

  --cc-background: hsl(233, 47%, 7%);
  --cc-card-background: hsl(244, 38%, 16%);
  --cc-accent: hsl(277, 64%, 61%);

  --cc-heading: hsl(0, 0%, 100%);
  --cc-paragraph: hsla(0, 0%, 100%, 0.75);
  --cc-stat-heading: hsla(0, 0%, 100%, 0.6);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: var(--fs-base);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--cc-background);
  overflow: hidden;

  display: grid;
  place-content: center;
  margin: 1rem;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}